dlldata.c
*_i.c
*_i.h
*_p.c
*.user
*.suo
*.sdf
*.opensdf
*.ipch
*.aps
*.bak
Debug/
packages/
/oAuth.VC.db
/oAuth.VC.VC.opendb
/Clients/WTLApplication/maindlg.CPP~RF408d11f.TMP
/oAuthEventsTEMP.BIN
/oAuthEvents_MSG00001.bin
