<?xml version="1.0" encoding="UTF-8"?>
<Wix
	xmlns="http://schemas.microsoft.com/wix/2006/wi"
	xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="*" Name="AuthorizationServer" Language="1033" Version="0.99.0.0" Manufacturer="pwsimon" UpgradeCode="83ef299d-d978-4ba8-9fe5-fc78e344a755">
		<Package InstallerVersion="405" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<!-- MediaTemplate Element, http://wixtoolset.org/documentation/manual/v3/xsd/wix/mediatemplate.html -->
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="VCRedist" Title="Visual C++ 12.0 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
			<MergeRef Id="VCRedist"/>
			<MergeRef Id="MFCRedist"/>
		</Feature>

		<Feature Id="ProductFeature" Title="SetupProject" Level="1">
			<ComponentRef Id="AuthorizationServer" />
			<ComponentGroupRef Id="ClientComponents" />
			<ComponentGroupRef Id="ConfigComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="AuthorizationServer" />
			</Directory>
			<Directory Id="AppDataFolder">
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<!--
			How To: Install the Visual C++ Redistributable with your installer, http://wixtoolset.org/documentation/manual/v3/howtos/redistributables_and_install_checks/install_vcredist.html
			die msvcr120.. und mfc120... DLLs werden typischerweise (refcounted) nach c:\Windows\SysWOW64 installiert
		-->
		<DirectoryRef Id="TARGETDIR">
			<Merge Id="VCRedist" SourceFile="$(env.ProgramFiles(x86))\Common Files\Merge Modules\Microsoft_VC120_DebugCRT_x86.msm" DiskId="1" Language="0"/>
			<Merge Id="MFCRedist" SourceFile="$(env.ProgramFiles(x86))\Common Files\Merge Modules\Microsoft_VC120_DebugMFC_x86.msm" DiskId="1" Language="0"/>
		</DirectoryRef>

		<ComponentGroup Id="ClientComponents" Directory="INSTALLFOLDER">
			<Component Id="WTLApplication" Guid="{BB6FA132-AB75-4903-9432-71864657BF30}">
				<File Id='WTLApplicationEXE' Name='WTLApplication.exe' DiskId='1' Source='..\Debug\WTLApplication.exe' KeyPath='yes' />
			</Component>
			<Component Id="MFCApplication" Guid="{42164B83-8A4D-4983-A45C-566BEBD3F207}">
				<File Id='MFCApplicationEXE' Name='MFCApplication.exe' DiskId='1' Source='..\Debug\MFCApplication.exe' KeyPath='yes' />
			</Component>
			<Component Id="ConfigurationShortcut" Guid="{6774234C-2479-4E0F-BA57-679CF77DAE4C}">
				<util:InternetShortcut Id="SimulatorServiceShortcut" Name="Simulator Service" Target="http://simulatorauthserver-1310.appspot.com/index.html" />
			</Component>
		</ComponentGroup>

		<!--
			hier brauch ich noch eine custom action und ein cURL.exe tool
			mit dem InstallFinalize soll dadurch ein token abgeholt und als client_secret_SimulatorClientId.TokenResponse-user persistiert werden
			damit wird das statische file TokenResponseJSON obsolet
		-->
		<ComponentGroup Id="ConfigComponents" Directory="AppDataFolder">
			<Component Id="ConfigFiles" Guid="{80349109-6DAF-4B31-AC26-70EA1FB576A0}">
				<RegistryKey Root="HKCU" Key="AuthorizationServer">
					<RegistryValue Type="integer" Value="1" KeyPath="yes" />
				</RegistryKey>
				<File Id='ClientSecretJSON' Name='client_secret_SimulatorClientId.json' DiskId='1' Source='$(env.AppData)\client_secret_SimulatorClientId.json' />
				<File Id='TokenResponseJSON' Name='client_secret_SimulatorClientId.TokenResponse-user' DiskId='1' Source='$(env.AppData)\client_secret_SimulatorClientId.TokenResponse-user' />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
